:root {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: #fffffa;
    border-radius: 20px;
    border: 3px solid #ca8eb4;
  }

  .css-1e1h75k {
    background-color: #ca8eb4;
  }

  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #fa98a8;
  }

  .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    color: #ffad8e;
    background-color: #fde5b7;
  }

  .css-1ujsas3 {
    color: #fa98a8;
  }

  .css-1ujsas3:hover {
    color: #ffad8e;
    background-color: #fde5b7;
  }

  .css-1ald77x.Mui-focused {
    color: #ffad8e;
  }

  .css-fvipm8.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ffad8e;
  }
}

.pointer {
  cursor: pointer;
}

.rules {
  color: #ffad8e;
  font-weight: 800;
}
