:root{

    .css-hip9hq-MuiPaper-root-MuiAppBar-root {
        background-color: #9686AB;
    }

    .css-1x7skt0 {
        background-color: #9686AB;
    }

}

#basic_button {
    color: white;
}

#basic_button:hover {
    background-color: #CA8EB4;
}

img{
    width: 80px;
}