:root {
    .css-9mgopn-MuiDivider-root {
        border-color: #F9F871;
    }

    .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
        background-color: #fffffa;
    }
}


  
  ol li::marker {
    color: #CA8EB4
  }