:root{
    .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: pink;
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: pink
    }
}

#signin {
    cursor: pointer;
}

#signin:hover {
    color: #5B96CB;
}

.display-none {
    display: none;
}