:root {
    .css-mhc70k-MuiGrid-root {
        justify-content: center;
    }

    .css-1g2dm2e-MuiPaper-root-MuiCard-root  {
        border: 2px solid #FFCF74;
        border-radius: 20px;
        color: #FFAD8E;
    }

    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        margin: auto;
        margin-left: 20px;
    }
}

main {
    min-height: 80vh;
    margin-block: 30px;
}