:root{
    .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #FFAD8E;
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: #FFAD8E
    }
}

#signin {
    cursor: pointer;
    color: #CA8EB4;
}

#signin:hover {
    color: #FFAD8E;
}

.display-none {
    display: none;
}